In [2]:
import pandas as pd

In [4]:
dados_empresas_sa = pd.read_excel('dados_empresas_sa.xlsx')
dados_empresas_sa

,Unnamed: 0.1,Unnamed: 0,full_name,symboll,symbol
0,0,0,Banco ABC Brasil SA,ABCB4,ABCB4.SA
1,1,1,BrasilAgro - Co ON NM,AGRO3,AGRO3.SA
2,2,2,RUMO Logistica Operadora Multimodal SA,RAIL3,RAIL3.SA
3,3,3,Alpargatas SA,ALPA3,ALPA3.SA
4,4,4,Alpargatas SA,ALPA4,ALPA4.SA
...,...,...,...,...,...
744,744,744,Fdo Inv Imob Fof Integral Brei Reit,IBFF11,IBFF11.SA
745,745,745,Fi Imobiliario Vbi Cri,CVBI11,CVBI11.SA
746,746,746,Hedge Realty Devl Fdo Inv Imob Etf,HRDF11,HRDF11.SA
747,747,747,Rb Cap Desenvolvimento Res Iii Fii,RSPD11,RSPD11.SA
748,748,748,Treecorp Real Estate Fii I Etf,TCPF11,TCPF11.SA

In [5]:
history = pd.read_excel('manipular-history.xlsx')
history

,symbol,date,open,high,low,close,volume,adjclose,dividends,splits
0,ABCB4.SA,2020-01-01,20.190001,23.850000,10.612972,13.132314,59363630.0,10.327052,0.487007,0.0
1,ABCB4.SA,2020-04-01,12.477682,15.820272,11.208092,13.965482,55136315.0,11.253696,0.000000,0.0
2,ABCB4.SA,2020-07-01,13.876214,15.324339,11.510751,11.669794,50872565.0,9.403779,0.157723,0.0
3,ABCB4.SA,2020-10-01,11.759256,15.884439,11.500811,15.576293,50786571.0,12.696451,0.000000,0.0
4,ABCB4.SA,2021-01-01,15.576293,16.770000,14.200000,14.500000,50211847.0,11.819150,0.338164,0.0
...,...,...,...,...,...,...,...,...,...,...
8720,RSPD11.SA,2022-08-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,959.252747,0.000000,0.0
8721,RSPD11.SA,2022-11-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,959.252747,43.620940,0.0
8722,RSPD11.SA,2023-02-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,997.947266,7.199057,0.0
8723,RSPD11.SA,2023-05-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,1038.141113,16.759092,0.0
8724,RSPD11.SA,2023-08-01,1125.000000,1300.000000,1125.000000,1300.000000,1.0,1208.912842,8.724188,0.0

In [6]:
# mesclando os Dataframes com base nos cÃ³digos
df2 = pd.merge(history, dados_empresas_sa, on='symbol', how='left')
df2

,symbol,date,open,high,low,close,volume,adjclose,dividends,splits,Unnamed: 0.1,Unnamed: 0,full_name,symboll
0,ABCB4.SA,2020-01-01,20.190001,23.850000,10.612972,13.132314,59363630.0,10.327052,0.487007,0.0,0,0,Banco ABC Brasil SA,ABCB4
1,ABCB4.SA,2020-04-01,12.477682,15.820272,11.208092,13.965482,55136315.0,11.253696,0.000000,0.0,0,0,Banco ABC Brasil SA,ABCB4
2,ABCB4.SA,2020-07-01,13.876214,15.324339,11.510751,11.669794,50872565.0,9.403779,0.157723,0.0,0,0,Banco ABC Brasil SA,ABCB4
3,ABCB4.SA,2020-10-01,11.759256,15.884439,11.500811,15.576293,50786571.0,12.696451,0.000000,0.0,0,0,Banco ABC Brasil SA,ABCB4
4,ABCB4.SA,2021-01-01,15.576293,16.770000,14.200000,14.500000,50211847.0,11.819150,0.338164,0.0,0,0,Banco ABC Brasil SA,ABCB4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,RSPD11.SA,2022-08-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,959.252747,0.000000,0.0,747,747,Rb Cap Desenvolvimento Res Iii Fii,RSPD11
8750,RSPD11.SA,2022-11-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,959.252747,43.620940,0.0,747,747,Rb Cap Desenvolvimento Res Iii Fii,RSPD11
8751,RSPD11.SA,2023-02-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,997.947266,7.199057,0.0,747,747,Rb Cap Desenvolvimento Res Iii Fii,RSPD11
8752,RSPD11.SA,2023-05-01,1125.000000,1125.000000,1125.000000,1125.000000,0.0,1038.141113,16.759092,0.0,747,747,Rb Cap Desenvolvimento Res Iii Fii,RSPD11
8753,RSPD11.SA,2023-08-01,1125.000000,1300.000000,1125.000000,1300.000000,1.0,1208.912842,8.724188,0.0,747,747,Rb Cap Desenvolvimento Res Iii Fii,RSPD11

In [ ]:
# salvando novo arquivo
df2.to_excel('history-nome-simbolo.xlsx')